@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-primary: #be5100;
  --brand-secondary: #ff8c42;
  --brand-tertiary: #FFF5F8;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --font-sans: var(--font-poppins);
  --color-brand-tertiary: var(--brand-tertiary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFAFA;
    --foreground: #222222;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
/* Slider Arrows */

.slick-prev,
.slick-next {
  width: 42px;
  height: 42px;
  z-index: 10;
}

.slick-prev::before,
.slick-next::before {
  font-size: 42px;
  color: #be5100; /* gray */
  opacity: 1;
  transition: color 0.3s ease;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color:#ff8c42 ;

}